body {font-family: 'Istok Web', sans-serif;}


a:hover {text-decoration:none;}
a {color:#333;}

nav {font-size:.85em;}

.project:hover {text-shadow:0 0 20px #FFF;}
.project-title, .tag {font-size:.8em; font-weight:normal; line-height:1.6em; margin:0; color:#EBEBEB;}
.glyphicon {font-size:.8em; margin-right:5px;}

.project-description h2 {font:2em/1em 'Source Sans Pro', sans-serif;}
.project-description p {font:.9em/1.6em 'Istok Web', sans-serif;}